.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signUpFrom {
  border-radius: 3px;
    width: 33%;
    background: #fff;
    padding: 30px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.heading {
  margin: 0 0 15px;
  color: #333;
}

.inputField {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.inputSubmit {
  padding: 12px 22px;
  border-radius: 3px;
  border: 0;
  background: #e93035;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  box-shadow: 0 14px 26px -12px #e93035c4;
  cursor: pointer;
  transition: all 0.4s;
}

.inputSubmit:hover {
  transform: scale(1.1);
  transition: all 0.4s;
  color: #fff;
}
